USE [master]
GO
/****** Object:  Database [DCPS]    Script Date: 2/15/2018 11:01:46 AM ******/
CREATE DATABASE [DCPS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DCPS', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DCPS.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DCPS_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DCPS_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DCPS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DCPS]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Note] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompanyInformations]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyInformations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Web] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[ContactPerson] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.CompanyInformations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompanyResources]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyResources](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](100) NULL,
	[DOJ] [datetime] NULL,
	[DOB] [datetime] NULL,
	[Phone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
	[Status] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_dbo.CompanyResources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Items]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Size] [nvarchar](50) NULL,
	[HSCode] [nvarchar](100) NULL,
	[ItemDesc] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proc_MaterialEntryDet]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proc_MaterialEntryDet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Proc_MaterialEntryMasId] [int] NOT NULL,
	[Proc_PurchaseOrderDetId] [int] NOT NULL,
	[ChallanNo] [nvarchar](50) NOT NULL,
	[ChallanDate] [datetime] NULL,
	[EntryQty] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_dbo.Proc_MaterialEntryDet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proc_MaterialEntryMas]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proc_MaterialEntryMas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EDate] [datetime] NULL,
	[ProcProjectId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Proc_MaterialEntryMas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proc_PurchaseOrderDet]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proc_PurchaseOrderDet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Proc_PurchaseOrderMasId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[POQty] [decimal](18, 2) NOT NULL,
	[PORcv] [decimal](18, 2) NOT NULL,
	[POAmt] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Proc_PurchaseOrderDet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proc_PurchaseOrderMas]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proc_PurchaseOrderMas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PONo] [nvarchar](100) NOT NULL,
	[PODate] [datetime] NOT NULL,
	[VendorId] [int] NOT NULL,
	[Proc_TenderMasId] [int] NOT NULL,
	[LeadTime] [int] NOT NULL,
	[OrderTo] [nvarchar](100) NULL,
	[Attention] [nvarchar](100) NULL,
	[AttnCell] [nvarchar](100) NULL,
	[AttnEmail] [nvarchar](100) NULL,
	[Subject] [nvarchar](100) NULL,
	[Content] [nvarchar](800) NULL,
	[RecvConcernPerson] [nvarchar](100) NULL,
	[RecvConcernPersonCell] [nvarchar](100) NULL,
	[POTotalAmt] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Proc_PurchaseOrderMas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proc_RequisitionDet]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proc_RequisitionDet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Proc_RequisitionMasId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[ReqQty] [decimal](18, 2) NOT NULL,
	[CStockQty] [decimal](18, 2) NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[RequiredDate] [datetime] NULL,
	[Remarks] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Proc_RequisitionDet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proc_RequisitionMas]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proc_RequisitionMas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProcProjectId] [int] NOT NULL,
	[Rcode] [nvarchar](20) NOT NULL,
	[ReqDate] [datetime] NOT NULL,
	[Remarks] [nvarchar](50) NULL,
	[Status] [nvarchar](1) NULL,
 CONSTRAINT [PK_dbo.Proc_RequisitionMas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proc_TenderDet]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proc_TenderDet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Proc_TenderMasId] [int] NOT NULL,
	[Proc_RequisitionDetId] [int] NOT NULL,
	[VendorId] [int] NOT NULL,
	[TQDate] [datetime] NULL,
	[TQNo] [nvarchar](50) NULL,
	[TQPrice] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](1) NULL,
 CONSTRAINT [PK_dbo.Proc_TenderDet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proc_TenderMas]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proc_TenderMas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TNo] [nvarchar](50) NOT NULL,
	[TDate] [datetime] NOT NULL,
	[Specs] [nvarchar](100) NULL,
	[Remarks] [nvarchar](100) NULL,
	[isApproved] [nvarchar](1) NULL,
 CONSTRAINT [PK_dbo.Proc_TenderMas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proc_VendorPaymentDet]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proc_VendorPaymentDet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Proc_VendorPaymentMasId] [int] NOT NULL,
	[Proc_MaterialEntryDetId] [int] NOT NULL,
	[BillNo] [nvarchar](50) NULL,
	[PayAmt] [decimal](18, 2) NOT NULL,
	[Remarks] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Proc_VendorPaymentDet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proc_VendorPaymentMas]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proc_VendorPaymentMas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VPDate] [datetime] NOT NULL,
	[VendorId] [int] NOT NULL,
	[Remarks] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Proc_VendorPaymentMas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProcProjectItems]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcProjectItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProcProjectId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[PQuantity] [decimal](18, 2) NOT NULL,
	[PCost] [decimal](18, 2) NOT NULL,
	[Remarks] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.ProcProjectItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProcProjects]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcProjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectSiteId] [int] NOT NULL,
	[BOQDate] [datetime] NULL,
	[BOQNo] [nvarchar](100) NULL,
	[NOADate] [datetime] NULL,
	[NOANo] [nvarchar](100) NULL,
	[ProjectType] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[Remarks] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.ProcProjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectGroups]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.ProjectGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectResources]    Script Date: 2/15/2018 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectResources](
	[ProjectId] [int] NOT NULL,
	[CompanyResourceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProjectResources] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC,
	[CompanyResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projects]    Script Date: 2/15/2018 11:01:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[ClientId] [int] NULL,
	[ProjectGroupId] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Status] [int] NOT NULL,
	[Remarks] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectSiteResources]    Script Date: 2/15/2018 11:01:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectSiteResources](
	[ProjectSiteId] [int] NOT NULL,
	[CompanyResourceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProjectSiteResources] PRIMARY KEY CLUSTERED 
(
	[ProjectSiteId] ASC,
	[CompanyResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectSites]    Script Date: 2/15/2018 11:01:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectSites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Location] [nvarchar](100) NULL,
	[SiteStatus] [int] NOT NULL,
	[Remarks] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.ProjectSites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/15/2018 11:01:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Units]    Script Date: 2/15/2018 11:01:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Units] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/15/2018 11:01:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](155) NOT NULL,
	[Salt] [nvarchar](100) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[LastLogin] [datetime] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersRoles]    Script Date: 2/15/2018 11:01:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UsersRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 2/15/2018 11:01:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](150) NULL,
	[Phone] [nvarchar](50) NULL,
	[Web] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[ContactPerson] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Vendors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (2, N'Operator')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (3, N'Management')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Password], [Salt], [FirstName], [LastName], [Email], [Phone], [Address], [IsActive], [LastLogin]) VALUES (1, N'dhaly', N'2F68F5CDD5966E1D3C5997CE7A409FBFEF201419', N'E5CuZac=', NULL, NULL, NULL, NULL, N'Tejgaon', 1, CAST(N'2018-02-14 11:54:40.940' AS DateTime))
INSERT [dbo].[Users] ([Id], [UserName], [Password], [Salt], [FirstName], [LastName], [Email], [Phone], [Address], [IsActive], [LastLogin]) VALUES (2, N'ccl', N'D4E8ED7B8A4AA306FC55B18DB8E9E214570EA01E', N'A3jElZU=', NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2017-11-16 13:01:16.947' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[UsersRoles] ON 

INSERT [dbo].[UsersRoles] ([Id], [UserId], [RoleId]) VALUES (1, 1, 1)
INSERT [dbo].[UsersRoles] ([Id], [UserId], [RoleId]) VALUES (2, 1, 3)
INSERT [dbo].[UsersRoles] ([Id], [UserId], [RoleId]) VALUES (3, 2, 2)
SET IDENTITY_INSERT [dbo].[UsersRoles] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [ChallanNo]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ChallanNo] ON [dbo].[Proc_MaterialEntryDet]
(
	[ChallanNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proc_MaterialEntryMasId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Proc_MaterialEntryMasId] ON [dbo].[Proc_MaterialEntryDet]
(
	[Proc_MaterialEntryMasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proc_PurchaseOrderDetId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Proc_PurchaseOrderDetId] ON [dbo].[Proc_MaterialEntryDet]
(
	[Proc_PurchaseOrderDetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProcProjectId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProcProjectId] ON [dbo].[Proc_MaterialEntryMas]
(
	[ProcProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemId] ON [dbo].[Proc_PurchaseOrderDet]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proc_PurchaseOrderMasId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Proc_PurchaseOrderMasId] ON [dbo].[Proc_PurchaseOrderDet]
(
	[Proc_PurchaseOrderMasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proc_TenderMasId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Proc_TenderMasId] ON [dbo].[Proc_PurchaseOrderMas]
(
	[Proc_TenderMasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VendorId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_VendorId] ON [dbo].[Proc_PurchaseOrderMas]
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemId] ON [dbo].[Proc_RequisitionDet]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proc_RequisitionMasId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Proc_RequisitionMasId] ON [dbo].[Proc_RequisitionDet]
(
	[Proc_RequisitionMasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProcProjectId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProcProjectId] ON [dbo].[Proc_RequisitionMas]
(
	[ProcProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RCodeIndex]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RCodeIndex] ON [dbo].[Proc_RequisitionMas]
(
	[Rcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proc_RequisitionDetId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Proc_RequisitionDetId] ON [dbo].[Proc_TenderDet]
(
	[Proc_RequisitionDetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proc_TenderMasId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Proc_TenderMasId] ON [dbo].[Proc_TenderDet]
(
	[Proc_TenderMasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VendorId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_VendorId] ON [dbo].[Proc_TenderDet]
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TNo]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [TNo] ON [dbo].[Proc_TenderMas]
(
	[TNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proc_MaterialEntryDetId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Proc_MaterialEntryDetId] ON [dbo].[Proc_VendorPaymentDet]
(
	[Proc_MaterialEntryDetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proc_VendorPaymentMasId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Proc_VendorPaymentMasId] ON [dbo].[Proc_VendorPaymentDet]
(
	[Proc_VendorPaymentMasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VendorId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_VendorId] ON [dbo].[Proc_VendorPaymentMas]
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemId] ON [dbo].[ProcProjectItems]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProcProjectId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProcProjectId] ON [dbo].[ProcProjectItems]
(
	[ProcProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnitId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_UnitId] ON [dbo].[ProcProjectItems]
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectSiteId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectSiteId] ON [dbo].[ProcProjects]
(
	[ProjectSiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompanyResourceId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_CompanyResourceId] ON [dbo].[ProjectResources]
(
	[CompanyResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectId] ON [dbo].[ProjectResources]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClientId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClientId] ON [dbo].[Projects]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectGroupId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectGroupId] ON [dbo].[Projects]
(
	[ProjectGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompanyResourceId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_CompanyResourceId] ON [dbo].[ProjectSiteResources]
(
	[CompanyResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectSiteId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectSiteId] ON [dbo].[ProjectSiteResources]
(
	[ProjectSiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectId] ON [dbo].[ProjectSites]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[UsersRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 2/15/2018 11:01:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UsersRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Proc_MaterialEntryDet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_MaterialEntryDet_dbo.Proc_MaterialEntryMas_Proc_MaterialEntryMasId] FOREIGN KEY([Proc_MaterialEntryMasId])
REFERENCES [dbo].[Proc_MaterialEntryMas] ([Id])
GO
ALTER TABLE [dbo].[Proc_MaterialEntryDet] CHECK CONSTRAINT [FK_dbo.Proc_MaterialEntryDet_dbo.Proc_MaterialEntryMas_Proc_MaterialEntryMasId]
GO
ALTER TABLE [dbo].[Proc_MaterialEntryDet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_MaterialEntryDet_dbo.Proc_PurchaseOrderDet_Proc_PurchaseOrderDetId] FOREIGN KEY([Proc_PurchaseOrderDetId])
REFERENCES [dbo].[Proc_PurchaseOrderDet] ([Id])
GO
ALTER TABLE [dbo].[Proc_MaterialEntryDet] CHECK CONSTRAINT [FK_dbo.Proc_MaterialEntryDet_dbo.Proc_PurchaseOrderDet_Proc_PurchaseOrderDetId]
GO
ALTER TABLE [dbo].[Proc_MaterialEntryMas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_MaterialEntryMas_dbo.ProcProjects_ProcProjectId] FOREIGN KEY([ProcProjectId])
REFERENCES [dbo].[ProcProjects] ([Id])
GO
ALTER TABLE [dbo].[Proc_MaterialEntryMas] CHECK CONSTRAINT [FK_dbo.Proc_MaterialEntryMas_dbo.ProcProjects_ProcProjectId]
GO
ALTER TABLE [dbo].[Proc_PurchaseOrderDet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_PurchaseOrderDet_dbo.Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[Proc_PurchaseOrderDet] CHECK CONSTRAINT [FK_dbo.Proc_PurchaseOrderDet_dbo.Items_ItemId]
GO
ALTER TABLE [dbo].[Proc_PurchaseOrderDet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_PurchaseOrderDet_dbo.Proc_PurchaseOrderMas_Proc_PurchaseOrderMasId] FOREIGN KEY([Proc_PurchaseOrderMasId])
REFERENCES [dbo].[Proc_PurchaseOrderMas] ([Id])
GO
ALTER TABLE [dbo].[Proc_PurchaseOrderDet] CHECK CONSTRAINT [FK_dbo.Proc_PurchaseOrderDet_dbo.Proc_PurchaseOrderMas_Proc_PurchaseOrderMasId]
GO
ALTER TABLE [dbo].[Proc_PurchaseOrderMas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_PurchaseOrderMas_dbo.Proc_TenderMas_Proc_TenderMasId] FOREIGN KEY([Proc_TenderMasId])
REFERENCES [dbo].[Proc_TenderMas] ([Id])
GO
ALTER TABLE [dbo].[Proc_PurchaseOrderMas] CHECK CONSTRAINT [FK_dbo.Proc_PurchaseOrderMas_dbo.Proc_TenderMas_Proc_TenderMasId]
GO
ALTER TABLE [dbo].[Proc_PurchaseOrderMas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_PurchaseOrderMas_dbo.Vendors_VendorId] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([Id])
GO
ALTER TABLE [dbo].[Proc_PurchaseOrderMas] CHECK CONSTRAINT [FK_dbo.Proc_PurchaseOrderMas_dbo.Vendors_VendorId]
GO
ALTER TABLE [dbo].[Proc_RequisitionDet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_RequisitionDet_dbo.Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[Proc_RequisitionDet] CHECK CONSTRAINT [FK_dbo.Proc_RequisitionDet_dbo.Items_ItemId]
GO
ALTER TABLE [dbo].[Proc_RequisitionDet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_RequisitionDet_dbo.Proc_RequisitionMas_Proc_RequisitionMasId] FOREIGN KEY([Proc_RequisitionMasId])
REFERENCES [dbo].[Proc_RequisitionMas] ([Id])
GO
ALTER TABLE [dbo].[Proc_RequisitionDet] CHECK CONSTRAINT [FK_dbo.Proc_RequisitionDet_dbo.Proc_RequisitionMas_Proc_RequisitionMasId]
GO
ALTER TABLE [dbo].[Proc_RequisitionMas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_RequisitionMas_dbo.ProcProjects_ProcProjectId] FOREIGN KEY([ProcProjectId])
REFERENCES [dbo].[ProcProjects] ([Id])
GO
ALTER TABLE [dbo].[Proc_RequisitionMas] CHECK CONSTRAINT [FK_dbo.Proc_RequisitionMas_dbo.ProcProjects_ProcProjectId]
GO
ALTER TABLE [dbo].[Proc_TenderDet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_TenderDet_dbo.Proc_RequisitionDet_Proc_RequisitionDetId] FOREIGN KEY([Proc_RequisitionDetId])
REFERENCES [dbo].[Proc_RequisitionDet] ([Id])
GO
ALTER TABLE [dbo].[Proc_TenderDet] CHECK CONSTRAINT [FK_dbo.Proc_TenderDet_dbo.Proc_RequisitionDet_Proc_RequisitionDetId]
GO
ALTER TABLE [dbo].[Proc_TenderDet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_TenderDet_dbo.Proc_TenderMas_Proc_TenderMasId] FOREIGN KEY([Proc_TenderMasId])
REFERENCES [dbo].[Proc_TenderMas] ([Id])
GO
ALTER TABLE [dbo].[Proc_TenderDet] CHECK CONSTRAINT [FK_dbo.Proc_TenderDet_dbo.Proc_TenderMas_Proc_TenderMasId]
GO
ALTER TABLE [dbo].[Proc_TenderDet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_TenderDet_dbo.Vendors_VendorId] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([Id])
GO
ALTER TABLE [dbo].[Proc_TenderDet] CHECK CONSTRAINT [FK_dbo.Proc_TenderDet_dbo.Vendors_VendorId]
GO
ALTER TABLE [dbo].[Proc_VendorPaymentDet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_VendorPaymentDet_dbo.Proc_MaterialEntryDet_Proc_MaterialEntryDetId] FOREIGN KEY([Proc_MaterialEntryDetId])
REFERENCES [dbo].[Proc_MaterialEntryDet] ([Id])
GO
ALTER TABLE [dbo].[Proc_VendorPaymentDet] CHECK CONSTRAINT [FK_dbo.Proc_VendorPaymentDet_dbo.Proc_MaterialEntryDet_Proc_MaterialEntryDetId]
GO
ALTER TABLE [dbo].[Proc_VendorPaymentDet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_VendorPaymentDet_dbo.Proc_VendorPaymentMas_Proc_VendorPaymentMasId] FOREIGN KEY([Proc_VendorPaymentMasId])
REFERENCES [dbo].[Proc_VendorPaymentMas] ([Id])
GO
ALTER TABLE [dbo].[Proc_VendorPaymentDet] CHECK CONSTRAINT [FK_dbo.Proc_VendorPaymentDet_dbo.Proc_VendorPaymentMas_Proc_VendorPaymentMasId]
GO
ALTER TABLE [dbo].[Proc_VendorPaymentMas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proc_VendorPaymentMas_dbo.Vendors_VendorId] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([Id])
GO
ALTER TABLE [dbo].[Proc_VendorPaymentMas] CHECK CONSTRAINT [FK_dbo.Proc_VendorPaymentMas_dbo.Vendors_VendorId]
GO
ALTER TABLE [dbo].[ProcProjectItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProcProjectItems_dbo.Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[ProcProjectItems] CHECK CONSTRAINT [FK_dbo.ProcProjectItems_dbo.Items_ItemId]
GO
ALTER TABLE [dbo].[ProcProjectItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProcProjectItems_dbo.ProcProjects_ProcProjectId] FOREIGN KEY([ProcProjectId])
REFERENCES [dbo].[ProcProjects] ([Id])
GO
ALTER TABLE [dbo].[ProcProjectItems] CHECK CONSTRAINT [FK_dbo.ProcProjectItems_dbo.ProcProjects_ProcProjectId]
GO
ALTER TABLE [dbo].[ProcProjectItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProcProjectItems_dbo.Units_UnitId] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Units] ([Id])
GO
ALTER TABLE [dbo].[ProcProjectItems] CHECK CONSTRAINT [FK_dbo.ProcProjectItems_dbo.Units_UnitId]
GO
ALTER TABLE [dbo].[ProcProjects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProcProjects_dbo.ProjectSites_ProjectSiteId] FOREIGN KEY([ProjectSiteId])
REFERENCES [dbo].[ProjectSites] ([Id])
GO
ALTER TABLE [dbo].[ProcProjects] CHECK CONSTRAINT [FK_dbo.ProcProjects_dbo.ProjectSites_ProjectSiteId]
GO
ALTER TABLE [dbo].[ProjectResources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProjectResources_dbo.CompanyResources_CompanyResourceId] FOREIGN KEY([CompanyResourceId])
REFERENCES [dbo].[CompanyResources] ([Id])
GO
ALTER TABLE [dbo].[ProjectResources] CHECK CONSTRAINT [FK_dbo.ProjectResources_dbo.CompanyResources_CompanyResourceId]
GO
ALTER TABLE [dbo].[ProjectResources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProjectResources_dbo.Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[ProjectResources] CHECK CONSTRAINT [FK_dbo.ProjectResources_dbo.Projects_ProjectId]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Projects_dbo.Clients_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_dbo.Projects_dbo.Clients_ClientId]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Projects_dbo.ProjectGroups_ProjectGroupId] FOREIGN KEY([ProjectGroupId])
REFERENCES [dbo].[ProjectGroups] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_dbo.Projects_dbo.ProjectGroups_ProjectGroupId]
GO
ALTER TABLE [dbo].[ProjectSiteResources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProjectSiteResources_dbo.CompanyResources_CompanyResourceId] FOREIGN KEY([CompanyResourceId])
REFERENCES [dbo].[CompanyResources] ([Id])
GO
ALTER TABLE [dbo].[ProjectSiteResources] CHECK CONSTRAINT [FK_dbo.ProjectSiteResources_dbo.CompanyResources_CompanyResourceId]
GO
ALTER TABLE [dbo].[ProjectSiteResources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProjectSiteResources_dbo.ProjectSites_ProjectSiteId] FOREIGN KEY([ProjectSiteId])
REFERENCES [dbo].[ProjectSites] ([Id])
GO
ALTER TABLE [dbo].[ProjectSiteResources] CHECK CONSTRAINT [FK_dbo.ProjectSiteResources_dbo.ProjectSites_ProjectSiteId]
GO
ALTER TABLE [dbo].[ProjectSites]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProjectSites_dbo.Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[ProjectSites] CHECK CONSTRAINT [FK_dbo.ProjectSites_dbo.Projects_ProjectId]
GO
ALTER TABLE [dbo].[UsersRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsersRoles_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UsersRoles] CHECK CONSTRAINT [FK_dbo.UsersRoles_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[UsersRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsersRoles_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UsersRoles] CHECK CONSTRAINT [FK_dbo.UsersRoles_dbo.Users_UserId]
GO
USE [master]
GO
